<section class="about-section">
  <div class="container">
    <div class="about-content" [class.reverse]="reverseLayout">
      <div class="about-text">
        <h2 class="about-title">{{ title }}</h2>
        <p *ngIf="subtitle" class="about-subtitle">{{ subtitle }}</p>
        <p class="about-description">{{ description }}</p>
        <p class="about-specialist">
          Mi nombre es <span class="specialist-name">{{ specialistName }}</span
          >, {{ specialistTitle }}, y {{ specialistDescription }}
        </p>
        <p class="about-final">
          {{ finalMessage }}
        </p>
      </div>
      <div class="about-image">
        <img [src]="imageSrc" [alt]="imageAlt" class="specialist-photo" />
      </div>
    </div>
  </div>
</section>
